.container {
  display: flex;
  justify-content: space-between;
}

.foto {
  width: 130px;
  height: 130px;
  margin-left: 150px;
}

.containerText {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.glukobiText {
  font-size: 100px;
  font-weight: 700;
  margin: 0px;
}

.descText {
  margin: 0px;
  font-size: 25px;
  font-weight: 600;
  width: 430px;
}

.gambarBuah {
  height: 550px;
}

.jeruk {
  position: absolute;
  left: 1055px;
  top: 0px;
}

.brocoliBurem {
  position: absolute;
  left: 700px;
  width: 100px;
}

.brocoli {
  position: absolute;
  top: 285px;
}

/* Responsive HP */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .foto {
    display: none;
  }

  .containerText {
    margin-left: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .glukobiText {
    font-size: 45px;
    font-weight: 700;
    margin: 0px;
  }

  .descText {
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .gambarBuah {
    height: 350px;
    width: 350px;
  }

  .jeruk {
    position: absolute;
    left: 1055px;
    top: 0px;
    display: none;
  }

  .brocoliBurem {
    position: absolute;
    left: 700px;
    width: 100px;
    display: none;
  }

  .brocoli {
    position: absolute;
    top: 285px;
    display: none;
  }
}

/* Responsive Tablet */
@media screen and (min-width: 500px) and (max-width: 1024px) {
}
